.freeman {
    display:flex;
     color:blue;
}  
h1 {
border: double blue 20px;
justify-content: center;
padding: 20px;
margin-right:20px;
margin-bottom:20px;
text-align: center;
}
button {
    width: 200px;
    text-align:center;
}
body {
background-color: lightgreen;
}
.pres-photos {
    display: flex;
    justify-content:space-around;
    
}    
.clickhere {

    text-align:center;
}    
p {
    text-align: center;
}    
.morgan {
    padding-left:200px;
    padding-right:200px;
}    